* {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  --grey: #555555;
  --green: #49AE66;
  --yellow: #E3DD5F;
  --middle-grey: #808080;
  --background-grey: #FCFCFC;
  color: var(--middle-grey);
  box-sizing: border-box;
}

html {
  width: 100vw;
  overflow-x: hidden;
}

h2 {
  color: var(--grey);
}

a {
  text-decoration: none;
}