* {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  --grey: #555555;
  --green: #49AE66;
  --yellow: #E3DD5F;
  --middle-grey: #808080;
  --background-grey: #FCFCFC;
  color: var(--middle-grey);
}

a {
  text-decoration: none;
}