* {
  --grey: #555555;
  --green: #49AE66;
  --yellow: #ffdf3c;
  --dark-grey: #464646;
  --light-grey: #808080;
  --dark-yellow: #fcd111;
  box-sizing: border-box;
  color: var(--grey);
  font-family: Roboto, sans-serif;
}

body {
  position: relative;
}

h1.page-name {
  margin: 30px 0;
  @media screen and (max-width: 809px) {
    display: none
  }
}

h2,
h1.page-name {
  color: var(--grey);
  font-size: calc((100vw - 320px) / (1280 - 320) * (24 - 20) + 20px);
}

.page-name {
  font-weight: lighter;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}