* {
  font-weight: normal;
  font-family: Roboto, sans-serif;

  --grey: #555555;
  --green: #49AE66;
  --yellow: #ffdf3c;
  --dark-yellow: #fcd111;
  --middle-grey: #808080;
  box-sizing: border-box;
  color: var(--middle-grey);
}

body {
  position: relative;
}

h1 {
  margin: 30px 0;
}

h1,
h2 {
  color: var(--grey);
  font-size: calc((100vw - 320px) / (1280 - 320) * (20 - 18) + 18px);
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}